{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "none",
    "bracketSameLine": false,
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "ignore",
    "arrowParens": "always",
    "printWidth": 400,
    "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-svelte"],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
